<%= form_for(@micropost) do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: t("shared.user_info_Compose") %>
  </div>
  <%= f.submit t("shared.user_info_post"), class: "btn btn-primary" %>
  <span class="picture">
    <%= f.file_field :picture, accept: t("shared.picture_type") %>
  </span>
<% end %>
